.tempsize{
    font-family: 'SUIT-Medium';
    font-style: bold;
    font-size: 13vh;
    vertical-align: bottom;
}

.humisize{
    font-family: 'SUIT-Medium';
    font-style: bold;
    font-size: 3.7vh;
    vertical-align: bottom;
}






@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 
*{
    border-color: #000000;
    border-style: solid;
    border-width: 0.1px;
  }  */
