.progress-outer{
  background: #fff;
  border-radius: 50px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(209, 219, 231,0.7);
}

.progress{
  height: 10px;
  margin: 0;
  overflow: visible;
  border-radius: 50px;
  background: #eaedf3;
  box-shadow: inset 0 10px  10px rgba(244, 245, 250,0.9);
}

.progress .progress-bar{
  border-radius: 50px;
}
.progress .progress-value{
  position: relative;
  left: -45px;
  top: 4px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(241, 12, 12);
  letter-spacing: 2px;
}
.progress-bar.active{
  animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
}
@-webkit-keyframes animate-positive{
  0% { width: 0%; }
}
@keyframes animate-positive {
  0% { width: 0%; }
}

// .progress2{
//   width : "80%";
//   box-shadow : "-1px 10px 10px rgba(91, 192, 222, 0.7)";
// }

.temp-font{
  font-family: 'SUIT-Medium';
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
  /* font-size: 1vw;
  line-height: 1.5vw; */
  /* identical to box height */
  color: #000000;
}

.temp-value{
  font-family: 'SUIT-Medium';
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  /* font-size: 1vw;
  line-height: 1.5vw; */
  /* identical to box height */
  color: #000000;
}